In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/Complete-Deep-Learning/master/ANN/Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, -1]

In [4]:
X = pd.get_dummies(X, columns=["Geography", "Gender"], drop_first=True)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [7]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [36]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [37]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, BatchNormalization, LeakyReLU, PReLU, ELU, Dropout
from keras.activations import relu, sigmoid

In [38]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes, input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
       
    model.add(Dense(units=1, kernel_initializer="glorot_uniform", activation="sigmoid"))
    
    model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [39]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [56]:
layers = [(20,10), (40,20), (45,30,15)]
activations = ["sigmoid", "relu"]

In [57]:
param_grid = dict(layers=layers, activation=activations, batch_size=[128,256], epochs=[30])

In [58]:
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=5)

In [59]:
grid_result = grid.fit(X_train, y_train)

AttributeError: 'NoneType' object has no attribute 'loss'

In [ ]:
print(grid_result.best_score_, grid_result.best_params_)